EventBooking/bin/
EventBooking/obj/
.vs/
.vs/EventBooking/config/applicationhost.config
EventBooking/bin/DevExpress.Printing.v21.1.Core.xml
EventBooking/bin/DevExpress.Printing.v21.1.Core.xml
EventBooking/bin/DevExpress.SpellChecker.v21.1.Core.xml
EventBooking/bin/DevExpress.Spreadsheet.v21.1.Core.xml
EventBooking/bin/DevExpress.Utils.v21.1.xml
EventBooking/bin/DevExpress.Web.ASPxScheduler.v21.1.xml
EventBooking/bin/DevExpress.Xpo.v21.1.xml
EventBooking/bin/DevExpress.XtraBars.v21.1.xml
EventBooking/bin/DevExpress.XtraCharts.v21.1.xml
EventBooking/bin/DevExpress.XtraEditors.v21.1.xml
EventBooking/bin/DevExpress.XtraGrid.v21.1.xml
EventBooking/bin/DevExpress.XtraLayout.v21.1.xml
EventBooking/bin/DevExpress.XtraRichEdit.v21.1.xml
EventBooking/bin/DevExpress.XtraScheduler.v21.1.Core.xml
EventBooking/bin/DevExpress.XtraTreeList.v21.1.xml
EventBooking/bin/DevExpress.XtraTreeMap.v21.1.xml
EventBooking/bin/EventBooking.dll
EventBooking/bin/EventBooking.pdb
EventBooking/obj/Debug/EventBooking.csproj.CoreCompileInputs.cache
EventBooking/obj/Debug/EventBooking.csproj.FileListAbsolute.txt
EventBooking/obj/Debug/EventBooking.dll
EventBooking/obj/Debug/EventBooking.pdb
EventBooking/obj/Debug/TempPE/EventBookingModel.cs.dll
EventBooking/obj/Debug/TempPE/EventBookingModel.Designer.cs.dll
EventBooking/bin/DevExpress.Printing.v21.1.Core.xml
EventBooking/bin/DevExpress.SpellChecker.v21.1.Core.xml
EventBooking/bin/DevExpress.Spreadsheet.v21.1.Core.xml
EventBooking/bin/DevExpress.Utils.v21.1.xml
EventBooking/bin/DevExpress.Web.ASPxScheduler.v21.1.xml
EventBooking/bin/DevExpress.Xpo.v21.1.xml
EventBooking/bin/DevExpress.XtraBars.v21.1.xml
EventBooking/bin/DevExpress.XtraCharts.v21.1.xml
EventBooking/bin/DevExpress.XtraEditors.v21.1.xml
EventBooking/bin/DevExpress.XtraGrid.v21.1.xml
EventBooking/bin/DevExpress.XtraLayout.v21.1.xml
EventBooking/bin/DevExpress.XtraRichEdit.v21.1.xml
EventBooking/bin/DevExpress.XtraScheduler.v21.1.Core.xml
EventBooking/bin/DevExpress.XtraTreeList.v21.1.xml
EventBooking/bin/DevExpress.XtraTreeMap.v21.1.xml
EventBooking/bin/EventBooking.dll
EventBooking/bin/EventBooking.dll.config
EventBooking/bin/EventBooking.pdb
EventBooking/obj/Debug/EventBooking.csproj.CoreCompileInputs.cache
EventBooking/obj/Debug/EventBooking.csproj.FileListAbsolute.txt
EventBooking/obj/Debug/EventBooking.dll
EventBooking/obj/Debug/eventbooking.dll.licenses
EventBooking/obj/Debug/EventBooking.pdb
EventBooking/obj/Debug/TempPE/EventBookingModel.cs.dll
EventBooking/obj/Debug/TempPE/EventBookingModel.Designer.cs.dll
