.slideshow img {
    max-width: 100%;
    display: block;
    /*            position: relative;
            text-align: center;
            height: 100%;
            width: 100%;
            object-fit: cover;
            margin-bottom: 30px;
            top: 0;
            left: 0;
            display: flex;
            justify-content: center;
            flex-direction: column;
            align-items: center;
            padding: 5px;*/
}

.dxcvCard_Material, .dxcvFlowCard_Material, .dxcvBreakpointsCard_Material, .dxcvEmptyCard_Material, .dxcvEmptyHiddenCard_Material {
    padding-bottom: 12px;
}

.btnEvent{
    width: 150px !important;
    margin-top: 30px;
}

.events {
    text-align: center;
}